* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #e5dbd0;
  --primary-color: #5b3a30;
}

.modal-header {
  border-bottom: 1px solid var(--primary-color);
}

header {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px var(--primary-color);
  z-index: 1;
}

.dropdown-menu,
.modal-content,
.btn-secondary {
  color: var(--primary-color);
  background-color: var(--background-color);
}

#navbar,
h1,
h4,
.dropdown-menu.show li a,
.nav-link.dropdown-toggle.show {
  color: var(--primary-color);
}

.navbar nav .nav-link.active,
.dropdown-menu.show li a:hover,
.btn-secondary:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.dropdown-menu {
  border: none;
  filter: drop-shadow(2px 2px 2px var(--primary-color));
  z-index: 1;
}

.nav-link {
  text-align: center;
  color: var(--primary-color);
}

/*Carousel section*/
.carousel-item img{
  height: 80vh;
}

/*Lojas section*/
#lojas {
  height: auto;
  color: var(--background-color);
  background-color: var(--primary-color);
}

#lojas select {
  height: 3em;
}

/*Contato section*/
#contato {
  background-color: var(--primary-color);
}

#contato p {
  color: var(--background-color);
}

/**/

